:root{
    --primary: #0f2c47;
  --secondary: #347ec2;
  /* --background: #ddd4c6; */
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --radius: 8px;
}

footer{
  color: var(--primary)
}

img{
  color: FFFFFF;
  background-color: OF2C47;
}

h1{
  color: FFFFFF;
}

h2{
  color: FFFFFF;
}

p{
  font-size: 16px;
  color: FFFFFF;
}

