body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2c47;
  max-height: 80px;
}

h1 {
  color: white;
}

button {
  margin-right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.menu-wrapper {
  position: relative;
  align-items: center;
}

.nav-menu {
  /* display: none; */
  position: absolute;
  top: 0px;
  right: 10px;
  width: 150px;
  /* border: solid 1px black; */
  /* display: none; */
  list-style-type: none;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
}

.nav-menu.active {
  display: block;
  opacity: 1;
  max-height: 300px;
}

li {
  padding: 10px;
  border-bottom: solid 1px black;
}

li:last-child {
  border: none;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: solid 1px black;
}

.bar {
  display: block;
  width: 38px;
  height: 0.25rem;
  background-color: white;
  margin-top: 8px;
  border-radius: calc(infinity * 1px);
}
.bar:last-child {
  margin-bottom: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.backdrop.active {
  z-index: -1;
  opacity: 1;
  visibility: visible;
}
