.test-login {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index: 100;
  font-size: 10px;
  padding: 0;
  border: solid 1px black;
  margin: 0;
}

.test-login.active {
  background-color: green;
}

header {
  font-family: 'poppins', sans-serif;
  position: sticky;
  top: 0;
  width: 100%;
  /* quota ut "position: relative;" nedan om du vill ha att headern inte skall sitta kvar på toppen */
  /* position: relative; */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2c47;
  max-height: 80px;
}

h1 {
  color: white;
  margin-left: 81px;
}

.hamburger-menu {
  margin-right: 30px;
}

.hamburger-button {
  box-shadow: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  padding-right: 7px;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}
.nav-menu.active {
  display: block;
  opacity: 1;
  max-height: 400px;
}

.list-option {
  z-index: 20;
  position: relative;
  display: block;
  max-height: 300px;
  width: 150px;
  list-style-type: none;
  background-color: #0f2c47;
  padding: 5px;
  margin: 0;

  font-size: larger;
}

.list-option li {
  padding: 10px;
  color: white;
  border: none;
}

.list-option a {
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 38px;
  height: 0.25rem;
  background-color: white;
  margin-top: 8px;
  border-radius: calc(infinity * 1px);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    width 0.5s ease;
}
.bar3 {
  margin-bottom: 6px;
}

.bar1.rotate1 {
  transform: rotate(45deg) translate(7px, 10px);
}
.bar2.fade {
  /* opacity: 0; */
  width: 0;
}
.bar3.rotate2 {
  transform: rotate(-45deg) translate(7px, -10px);
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.ruta1 {
  background-color: red;
  height: 400px;
  width: 100%;
}
.ruta2 {
  background-color: blue;
  height: 400px;
  width: 100%;
}

/* Switcha nedan beroende på om användaren är inloggad i mobile */

.loggedin-menu {
  display: none;
}
.loggedout-menu {
  display: block;
}

.loggedin-menu.loggedIn {
  display: block;
}
.loggedout-menu.loggedIn {
  display: none;
}

@media (min-width: 800px) {
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: block;
    position: static;
    opacity: 1;
  }
  .list-option {
    display: flex;
    flex-direction: row;
    gap: 31px;
    width: fit-content;
    position: static;
    max-height: none;
    border: none;
    opacity: 1;
    background-color: transparent;
    margin-right: 76px;
    font-weight: 600;
    font-size: larger;

    /* border: none; */
  }
  .list-option li,
  .list-option a {
    border-bottom: none;
    padding: 0;
  }
  .list-option.active {
    /* display: flex; */
    opacity: 1;
    max-height: none;
  }

  /* Switcha nedan beroende på om användaren är inloggad i desktop */

  .loggedin-menu {
    display: none;
  }
  .loggedout-menu {
    display: flex;
  }

  .loggedin-menu.loggedIn {
    display: flex;
  }
  .loggedout-menu.loggedIn {
    display: none;
  }
}
